/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}

.sendButton {
  display: block;
  font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}


/**  Own css starts here **/
.searchPanelLable{
   font-size: 100%; 
   font-weight: bold;
   color:#ffffff;
   padding:5px;
   margin:5px;
}

.searchKeyButton{
	background-color: #c0c0c0;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius:6px;
    color: #ffffff;
    font-family: 'Oswald';
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;
    border:none;
    margin:5px;
}

.searchKeyButton:hover {
    border: none;
    background:#7d7377;
    box-shadow: 0px 0px 1px #777;
}

.searchDateBox{
    border-width:1px;
    border-style:inset;
    border-right:solid 1px #CCCCCC;
    border-bottom:solid 1px #CCCCCC;
    border-color: #400040 ;
}

.searchPanelAeaBox{
    width: 100%; 
    margin: 0; 
    padding: 0; 
    border-width: 0;	
	background: #c0c0c0;
}

.searchRadioButton{
  background-color: grey;
  border: 1px solid #400040;
  margin: 5px;
  font-size: 3em;
}

.searchPanelCanvas{
  margin: 5px;	
  border: 1px solid #400040;
  font-size: 3em;
}

.gwt-TabPanel {
    background-color: #c0c0c0;
}

.roundedTab {
    background-color: #008000;  
}

.gwt-TabBar {
    background-color: rgb(36, 36, 36);
    padding-top: 5px;
}

.gwt-TabPanelBottom {
    background-color: #c0c0c0646464;
    border-top: none;

    padding-top: 1px;
    margin: 0px 0px 3px 0px;
}

.gwt-TabBar .gwt-TabBarFirst {
    border-bottom: 1px solid #408080363636;
    padding-left: 3px;
 }

 .gwt-TabBar .gwt-TabBarRest {
    border-bottom: 1px solid #808040363636;
    padding-right: 3px;
 }

 .gwt-TabBar .gwt-TabBarItem {           
    border-bottom: 1px solid #c0c0c0363636;

    margin-left: 2px;
    margin-right: 2px;

    cursor: pointer;
    cursor: hand;

    background-color: #c0c0c0484848;
 } 

 .gwt-TabBar .gwt-TabBarItem-selected {  
    border-bottom: 1px solid #408080646464;       
    background-color: #c0c0c0646464;
 }

 .gwt-TabBar .selectedText {
    color: white;
    background-color: #0000ff646464;
    font-weight: bold;      
    padding: 3px 7px 5px 7px;
 }

 .gwt-TabBar .unselectedText {
    color: rgb(227, 209, 13);       
    background-color: rgb(48, 48, 48);

    padding: 3px 7px 5px 7px;       
}

.gwt-TabBar .onMouseEnter {
    color: white;
    background-color: rgb(64, 64, 64);
}

.gwt-TabBar .onMouseLeave {

}

.deckPanel {
    margin: 5px;
}